{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "strict": 0,
    "comma-dangle": 0,
    "new-cap": 2,
    "no-undef": 2,
    "valid-jsdoc": 2,
    "no-underscore-dangle": 1,
    "prefer-const": 1,
    "no-var": 1
  }
}
